<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="index.html" class="text-nowrap logo-img">
        <img src="assets/logo.png" width="180" alt="pharmacy" />
      </a>
      <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8 text-muted"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
      <ul id="sidebarnav">
        <!-- ============================= -->
        <!-- Home -->
        <!-- ============================= -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4" href="/home" ></i>
          <span class="hide-menu">Home</span>
        </li>
        <!-- =================== -->
        <!-- Dashboard -->
        <!-- =================== -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="index.html" aria-expanded="false">
            <span>
              <i class="ti ti-home"></i>
            </span>
            <span class="hide-menu">Tableau de bord</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/listadmin" aria-expanded="false">
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Administrateurs</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/listclient" aria-expanded="false">
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Clients</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/listproduit" aria-expanded="false">
            <span>
              <i class="fa fa-envelope"></i>
            </span>
            <span class="hide-menu">Produits</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/listachat" aria-expanded="false">
            <span>
              <i class="fas fa-shopping-cart"></i> 
            </span>
            <span class="hide-menu">Achats</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/listcontact" aria-expanded="false">
            <span>
              <i class="fas fa-address-book"></i> 
            </span>
            <span class="hide-menu">Contacts</span>
          </a>
        </li>
        <!-- ============================= -->
        <!-- Apps -->
        <!-- ============================= -->
    
        <!-- ============================= -->
        <!-- PAGES -->
        <!-- ============================= -->
      
        <!-- ============================= -->
        <!-- UI -->
        <!-- ============================= -->
        
        <!-- =================== -->
        <!-- UI Elements -->
        <!-- =================== -->
       


       
      </ul>
     
    </nav>
     
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>